
/* Общие стили */
body {
	font-family: Arial, sans-serif;
}

.filters-container {
	display: none; /* Скрыть фильтры по умолчанию на мобильных устройствах */
}

@media (min-width: 768px) {
	.filters-container {
			display: block; /* Показать фильтры на планшетах и десктопах */
	}
}

/* Стили для строк поиска */
.search-bar {
	border: 2px solid #9ACD32;
	border-radius: 20px;
}

.search-bar .form-control {
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: transparent;
	color: #9ACD32;
	padding: 10px 30px;
}

.search-bar .input-group-text svg {
	color: #9ACD32;
}

/* Стили для фильтров */
.filter-group {
	list-style: none;
	padding: 0;
	margin: 0;
}

.filter-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.filter-item input[type="checkbox"] {
	margin-right: 10px;
}

.filter-item span {
	color: #333;
}

.range-slider {
	margin-top: 20px;
}

.range-slider label {
	margin-right: 10px;
}

/* Стили для галереи продуктов */
.gallery .card {
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery .card-img-top {
	object-fit: cover;
	height: 200px;
}

.gallery .card-body {
	padding: 10px;
}

.gallery .card-text {
	text-align: center;
}

/* Адаптивность */
@media (max-width: 767px) {
	.gallery .row {
			--bs-gutter-x: 1.5rem; /* Уменьшить отступ между колонками */
	}

	.gallery .row-cols-1,
	.gallery .row-cols-md-3,
	.gallery .row-cols-lg-4 {
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Адаптивная сетка для мобильных устройств */
	}
}