:root {
    --primary-color: #9ACD32;
    --secondary-color: #FFC107;
}
.table-header-green th {
    background-color: var(--primary-color) !important; /* #9ACD32 */
    color: #212529 !important; /* тёмный текст для контраста */
    font-weight: 600;
    border-color: var(--primary-color) !important;
    text-align: center;
}
/* Опционально: выравнивание ячеек */
.table-header-green th,
.table-striped tbody tr td {
    vertical-align: middle;
    text-align: center;
}
.table {
    border: 1px solid #dee2e6;
}
.table th,
.table td {
    border: 1px solid #dee2e6;
}
.form-control:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.25rem rgba(154, 205, 50, 0.25) !important;
}
.form-select:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.25rem rgba(154, 205, 50, 0.25) !important;
}
.form-select:focus::-webkit-outer-spin-button,
.form-select:focus::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn.active-page {
    background-color: var(--secondary-color) !important;
    color: #212529 !important;
    box-shadow: 0 2px 4px rgba(154, 205, 50, 0.3);
}